.card {
  background-color: var(--color-core-foreground);
  border: 1px solid var(--color-core-border);
  border-radius: 12px;
}

.card__favorite-btn {
  width: 48px;
  height: 48px;
  position: relative;
  margin: 0 0 -48px auto;
  display: block;
  border-radius: 0 12px 0 100%;
  background-color: transparent;
  backdrop-filter: blur(12px);
  border: none;
  cursor: pointer;
  outline: none;
}

.btn--active {
  background-color: var(--color-neutral-surface);

  .favorite-btn__icon {
    filter: brightness(0);
  }
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.card__details {
  padding: 8px;
}

.details__name {
  color: var(--color-neutral-content-higher);
  font-size: 24px;
}

.details__species {
  font-size: 16px;
  color: var(--color-core-content-low);
}
