<header class="header">
  <img
    class="header__logo"
    src="assets/images/logos/rick_and_morty.png"
    alt="Logo do Rick And Morty"
  />

  <nav class="header__nav">
    <div class="nav__buttons">
      <a
        class="buttons__btn btn--left"
        routerLink="/"
        routerLinkActive="btn--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          class="btn__icon"
          src="assets/images/icons/home.svg"
          alt="Ícone do Início"
        />
        <span class="btn__text"> Início </span>
      </a>

      <a
        class="buttons__btn btn--right"
        routerLink="/favoritos"
        routerLinkActive="btn--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          class="btn__icon"
          src="assets/images/icons/heart-fill.svg"
          alt="Ícone dos favoritos"
        />
        <span class="btn__text"> Favoritos </span>
        <div class="btn__counter centralize">
          <span class="counter__number">
            {{ (favorites$ | async)?.length }}
          </span>
        </div>
      </a>
    </div>
  </nav>
</header>
