:root {
  --color-core-background: #1f1f1f;
  --color-core-foreground: #0a0a0a;
  --color-core-border: #3d3d3d;
  --color-neutral-content: #a4a4a4;
  --color-neutral-surface: #ffffff;
  --color-neutral-content-higher: #f2f2f2;
  --color-core-content-low: #a4a4a4;
  --color-neutral-content-onSource: #0a0a0a;
}

@import "https://fonts.googleapis.com/css2?family=Creepster&family=Poppins&display=swap";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins";
  background-color: var(--color-core-background);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
}

.font-styled {
  color: #00b5cc;
  -webkit-text-stroke: 2px #b2df28;
}
